:root{ 
    --text-color:#1a1c20;   
    --link-color:#4a76ee;   
    --background-color:#eeeff1;
}
/*
- root has higher priority than html{...}
- these are variable names --variable-name: value;
and can be called later using var(--variable-name)
variables are not only for colors eg --main-padding: 16px;
                                    --font-size: 1rem;
                                    --border-style: 1px solid black;
- variables can be defined inside any selector root is  not necessary
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins',sans-serif;
    background-color:var(--background-color);
}

a{  /*selects all anchor elements means the links*/
    color: var(--link-color);
    text-decoration: none;   /*Removing underline from links*/
}

/*--NAVBAR--*/

/*
-------------------Flexbox--------------------
- display: flex is applied on the parent element
- It does NOT move the parent
- It only controls the children inside the parent
- In short = Parent gets display: flex, children get arranged.
*/
nav{
    display: flex;
    flex-direction: row; /* by defualt its row */
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
/*
- nav = flex parent
- row → horizontal(optional bcz its by default)
- justify-content → left/right spacing
- align-items → vertical alignment
- padding → inner space
*/
}
nav .left a{  /*Select all <a> tags that are inside <nav class="left">*/
    color: var(--text-color);
    font-size:22px;
    font-weight: 600;
}
nav .right a{
    color:var(--text-color);
    margin: 0 10px;
}
nav .right a:last-child{
    color: var(--background-color);
    background-color: var(--text-color);
    padding:  5px 15px;
    border-radius: 5px;
}

nav .right a span{
    margin-left: 5px;
}
/*
------Media Queries-----
- Media queries allow CSS to change styles based on screen  size or device conditions.
- Used for responsive design
- Syntax: @media (condition) { CSS }
- max-width → small screens (for mobile styles)
- min-width → large screens (for tablet or desktop styles)
- Media queries go at the bottom so they can override earlier styles when needed.
                                    */                           

@media(max-width:600px){    /* for mobile or small screens*/
    /* NAVBAR */
    nav{
        padding:0 20px;     /*reduce padding bcz mob 
                            screens are small*/
    }

    nav .right a{
        font-size: 22px;    /* increase icon size*/
    }

    nav .right a:last-child{   /*make gmail normal 
                                like other icons*/
    color: var(--text-color);
    background-color: transparent;  /* removes bg color */
    padding: 0;
    }
 
    nav .right a span{     
        display: none;  /* hide text and show only icons*/
    }
}
